// Descriptive color variables

$white:            #ffffff;
$dark-red:         #960000;
$light-red:        #d18f8f;
$yellow:           #ffd300;
$black:            #000000;
$light-black:      #2a2a2a;
$dark-grey:        #595959;
$grey:             #f2f2f2;
$light-grey:       #f1eff1;
$ultra-light-gray: #e4e4e4;
