.welcome-section {
  padding-top: 55px;
  padding-bottom: 10px;
  background: url("../img/bg-welcom-section.jpg") repeat-x;
  background-size: contain;
}

.container {
  margin: 0 auto;
  max-width: 965px;
  overflow: hidden;
}

header{
  margin-bottom: 22px;
  padding-left: 160px;
}

.logo {
  display: inline-block;
  width: 47%;
  & a {
    display: inline-block;
  }
}

.header-menu {
  display: inline-block;
  width: 52%;
}

.header-menu-list {
  overflow: hidden;
  & img {
    border: 1px solid transparent;
    &:hover {
      border: 1px solid $yellow;
    }
  }
}

.header-menu-list li {
  float: right;
  line-height: 22px;
  margin-left: 15px;
}

.header-menu-list a {
  text-decoration: none;
  color: $white;
  font-size: 15px;
  font-family: "TeXGyre bold";
  &:hover {
    color: $yellow;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 750px;
  }
  .header-menu {
    z-index: 1;
    position: relative;
    min-height: 40px;
  }
  .header-menu-list {
    width: 180px;
    position: absolute;
    right: 0;
    background: $dark-red url(../img/icon-menu.png) no-repeat 10px 11px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    & li {
      display: none; /* скрыть все <li> пункты */
      margin: 0;
    }
  }

  .header-menu .current {
    display: block; /* показывать только текущие активные <li> пункты */
  }
  .header-menu a {
    display: block;
    padding: 5px 5px 5px 32px;
    text-align: left;
  }
  .header-menu .current a {
    background: none;
  }

  .header-menu-list:hover li {
    display: block;
    margin: 0 0 5px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: auto;
  }

  .welcome-section {
    padding-top: 15px;
  }

  header {
    padding-left: 0;
    margin-bottom: 3px;
  }
  .header-menu-list { width: 110px; }

}




